<div class="container">
    <div class="custom-center-container">
        <div class="row">   
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form">
                    <!-- Users's Name -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="name" type="text" class="form-control" required placeholder="Enter Name" data-ng-model="request.name">
                    </div>
                    <br/>

                    <!-- Users's Sex -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <input  type="radio" name="gender" value="1" data-ng-model="request.sex"> Male
                        <input  type="radio" name="gender" value="0" data-ng-model="request.sex"> Female
                    </div>
                    <br/>

                    <!-- Users's Name -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select  id="teamName" data-ng-model="request.teamId" class="styled-select" title="Select Desired Team">
                            <option data-ng-repeat="user in users" value="{{ user.teamId }}">{{ user.teamName }}</option>
                        </select>
                    </div>
                    <br/>

                    <!-- Users's Email Id -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="name" type="email" class="form-control" required placeholder="Enter Email" data-ng-model="request.email">
                    </div>
                    <br/>

                    <!-- Users's Password -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" required placeholder="Enter Password" data-ng-model="request.password">
                    </div>
                    <br/>

                    <!-- Users's Confirm Password -->
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" required placeholder="Confirm Password" data-ng-model="request.confirmPassword">
                    </div>
                    <br/>

                    <!-- Action Buttons -->
                    <div>
                        <button class="btn btn-group btn-success pull-right" data-ng-click="signUpUser()">
                            Sign Up
                            <i class="glyphicon glyphicon-user"></i>
                        </button>
                        <button class="btn btn-warning pull-left" type="reset">
                            Reset Changes
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>