<div class="container">
    <div class="jumbotron">
        <div class="row"> 
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" placeholder="Find Customer By Name or City" data-ng-model="filter.name">
                </div>
                <br/>
                 <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Existing Customers</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table table-striped" data-ng-repeat="customer in customers | filter:filter.name | orderBy:'name'">
                                        <td>{{ customer.name | lowercase }}</td>
                                        <td>{{ customer.email | lowercase }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
            <div class="col-sm-3"></div> 
        </div>
    </div>
</div>