<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Laravel</title>

        <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <style>
         .new{
            font-size: 70px;
         }   
         .current{
            font-size: 10px;
         }
         .other-class{
            font-size: 20px;
            color:green;
         }
        </style>
    </head>
    <body>
        <h1 class="new" ng-class="{'current':name=='sudipta','other-class':font==20}">Hello <span ng-if="name">{{name}}</span><span ng-if="!name">World</span></h1>
        <input type="text" ng-model="name">
        <input type="text" ng-model="font">
        <div class="" ng-controller="BlogListController"></div>
        

        <script src="./js/app/app.module.js"></script>
        <script src="./js/app/app.config.js"></script>
        <script src="./js/app/blog-list/blog-list.module.js"></script>
        <script src="./js/app/blog-list/blog-list.component.js"></script>
    </body>
</html>
